---
import type { DocsEntry } from "@/types";
import { Image } from "astro:assets";

interface Props {
  entry: DocsEntry;
}

const { entry } = Astro.props;
// Verificamos que los datos existan en el frontmatter del .md
const { title, image, imageAlt, empresa, tipo, enlace, botonTexto } = entry.data;
---

<div class="h-full m-2 bg-slate-900 border border-white/20 rounded-xl overflow-hidden hover:border-blue-400 transition-all duration-300 group shadow-2xl">
  <div class="flex flex-col h-full">
    <div class="relative aspect-video overflow-hidden bg-black">
      {image && (
        <Image
          class="object-cover w-full h-full group-hover:scale-110 transition-transform duration-500 opacity-90"
          src={image}
          alt={imageAlt || title}
          width={1280}
          height={720}
        />
      )}
      {tipo && (
        <span class="absolute top-2 left-2 bg-yellow-400 text-black text-[10px] font-black px-2 py-1 rounded uppercase z-10 shadow-md">
          {tipo}
        </span>
      )}
    </div>

    <div class="p-4 flex flex-col flex-grow bg-slate-900">
      <h3 class="text-md font-bold text-white leading-tight mb-3">
        {title}
      </h3>
      
      {empresa && (
        <div class="flex flex-col mb-4 border-l-2 border-blue-500 pl-3">
          <span class="text-[9px] uppercase tracking-tighter text-blue-400 font-bold">Certifica:</span>
          <span class="text-white text-sm font-medium leading-none">{empresa}</span>
        </div>
      )}

      <div class="mt-auto">
        <a 
          href={enlace || "#"} 
          target="_blank"
          class="block w-full text-center bg-blue-600 hover:bg-blue-500 text-white text-xs font-bold py-3 rounded-lg transition-colors shadow-lg"
        >
          {botonTexto || "ACCESO"}
        </a>
      </div>
    </div>
  </div>
</div>