---
import Social from "@components/common/Social.astro";
---

<footer class="glass container lg:my-4 lg:rounded-lg intersect:animate-fadeUp !opacity-100">
  <div class="row py-2 lg:py-0 items-center flex-wrap-reverse">
    <div class="text-center lg:col-6 lg:mb-0 lg:text-left">
      <p class="text-white/70 text-sm">
        © {new Date().getFullYear()} Academia Libre de Geomática
      </p>
    </div>
    
    <div class="text-center lg:col-6 lg:my-0 flex items-center justify-center lg:justify-end !opacity-100" style="filter: none !important;">
      <div style="color: #ffffff !important;">
        <Social
          links={{
            email: "https://docs.google.com/forms/d/e/1FAIpQLSf8SyIco71F9ePWb4zinFwSL3H2sSMy-BG80ye95xEcSkmqkw/viewform",
            facebook: "https://www.facebook.com/share/14YV8kbuuQj/",
            youtube: "https://youtube.com/@academialibredegeomatica?si=Gb2_hmtO0AxR8f51",
            telegram: "https://t.me/+VPfvkv4ErNk1OGJh",
          }}
        />
      </div>
    </div>
  </div>
</footer>

<style>
  /* Este bloque asegura que los iconos dentro de Social sean blancos y visibles */
  :global(.social-links a), :global(svg) {
    color: #ffffff !important;
    fill: #ffffff !important;
    opacity: 1 !important;
    filter: none !important;
  }
</style>